// Mobile size  - 0 and 767px
// Tablet size  - 768px and 991px 	- @include breakpoint(tablet) {}
// Website size - 992px and 1199px - @include breakpoint(website) {}
// Large size  	- 1220px and 1439 	- @include breakpoint(large) {}
// ExLarge size - 1440px and above 	- @include breakpoint(exlarge) {}

/* Assigning box model */
*,
*:after,
*:before {
  @include box-sizing(border-box);
}

// Assigning box model polyfill for ie7 & ie 8
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
	-ms-behavior: url(/backgroundsize.min.htc);
}

/* Assigning clearfix to classes */
.clearfix, .group{
  @include clearfix;
}

::-webkit-input-placeholder {
	font-size: em(12px);
	line-height: 18px;
	@include fonts($regular);
}

:-moz-placeholder { /* Firefox 18- */
	font-size: em(12px);
	line-height: 18px;  
	@include fonts($regular);
}

::-moz-placeholder {  /* Firefox 19+ */
	font-size: em(12px);
	line-height: 18px;  
	@include fonts($regular);
}

:-ms-input-placeholder {  
	font-size: em(12px);
	line-height: 18px;  
	@include fonts($regular);
} 

/* ==========================================================================
   PHLOKS's custom styles
   ========================================================================== */

$base-font-size: 16px;

html {
    font-size: $base-font-size;
}

h1{font-size: em(31, 16); @include fonts($light);}
h2{font-size: em(28, 16); @include fonts($regular);}
h2.orange{@include fonts($regular); color: $orange;}
h3{font-size: em(22, 16);}
h4{font-size: em(16, 16);}
p{
	font-size: em(14, 16);
	line-height: 30px;
  margin: 20px 0;
}
small{
	font-size: em(16, 16);
	@include fonts($regular);
}

@include breakpoint(tablet){
	h1{font-size: em(52, 16); @include fonts($light);}
	h2{font-size: em(48, 16); @include fonts($regular);}
	h3{font-size: em(28, 16);}
	h4{font-size: em(20, 16);}
	p{
		font-size: em(16, 16);
		line-height: 30px;
  	margin: 20px 20px 0 20px;
	}
	small{
		font-size: em(16, 16);
	}
}


hr{
	clear: both;
}

strong{
	@include fonts($semibold);
}

blockquote{

	padding: 60px 0;

	@include breakpoint(website){
		padding: 110px 0;
	}

	 h3{
	 		color: $white;
	 		@include fonts($light);
	 		line-height: 36px;
	 		margin-bottom: 	10px;

	 		@include breakpoint(tablet){
	 			line-height: 60px;
	 			margin-bottom: 40px;
	 		}
	 }
	 footer{
	 		color: $white;
	 		@include fonts($regular);
	 }
	 cite{
			color: $white;
			@include fonts($regular);
	 }
}

form{
	fieldset{}
	label{}
	input[type="text"],
	input[type="email"]{}
	textarea{}
	button{
		&:hover{}
	}
}

.left{text-align: left;}
.center{text-align: center;}

@include breakpoint(tablet){
	.right{text-align: right;}
}


.mobile{display: inline-block;}
.website{display: none;}

@include breakpoint(tablet){
	.mobile{display: none;}
	.website{display: inline-block;}
}

.btn-default{
	background-color: transparent;
	border: 2px solid $white;
	border-color: $white;
	color: $white;
	border-radius: 50px;
	@include background-btn-animate(500ms);

	&:hover{
		@include background-btn-animate(500ms);
		border: 2px solid $white !important;
		@include background-opacity($white, 0.2);
		text-decoration: none;
		color: $white;
	}
}

.light-grey-bg{
	background: $light-grey;
}
.grey-bg{
	background: $grey;
}
.dark-grey-bg{
	background: $dark-grey;
}

.btn-info{
	background-color: transparent;
	border: 2px solid $orange;
	border-color: $orange;
	color: $orange;
	border-radius: 50px;

	&:hover{
		@include background-opacity($orange, 0.9);
		border-color: $orange;
		text-decoration: none;
	}
}

.btn-lg{
	font-size: em(18, 16);
	border-width: 2px;
	line-height: 40px;
	padding: 0 40px;
	margin: 10px 0;
	@include background-btn-animate(500ms);

	&:hover{
		border-width: 2px;
		@include background-btn-animate(500ms);
	}

	@include breakpoint(tablet){
		font-size: em(22, 16);
		border-width: 3px;
		line-height: 60px;
		padding: 0 80px;
		margin: 0;

		&:hover{
			border-width: 3px !important;
		}
	}

}

.model-content{
	background-color: #f2f2f2;
}
.modal-title{
	color: $orange;
}


/* Header */
#header{
	
	padding-bottom: 30px;
	background: url('../img/intro-bg.png') center center no-repeat;
	
	@include breakpoint(tablet){
		height: 730px;
	}

	@include breakpoint(website){
		height: 830px;
	}

	@include breakpoint(large){
		height: 940px;
	}

	@include breakpoint(exlarge){
		height: 1040px;
	}

	h1{
		color: $white;
		margin: 40px 0 20px 0;

		@include breakpoint(tablet){
			margin: 60px 0 40px 0;
		}
	}

	h3{
		text-indent: -9999px;
		display: inline-block;
		text-transform: uppercase;
		@include fonts($bold);
		font-size: em(16, 16);
		color: $white;
		padding-left: 50px;
		line-height: 40px;
		background: url('../img/phlock-logo.png') 15px center no-repeat;
		background-size: 30px auto;
	
		@include breakpoint(tablet){
			float: left;
			display: inline-block;
			padding-left: 66px;
			background: url('../img/phlock-logo.png') left center no-repeat;
			background-size: auto auto;
			line-height: 80px;
		}

		@include breakpoint(website){
			line-height: 140px;
		}

	}

	h4{
		color: $white;
		margin: 0 15px 15px 15px;
		line-height: 28px;
		
		@include breakpoint(tablet){
			margin: 0 0 150px 0;
		}
	}

	img{
		width: 120px;

		@include breakpoint(mobile){
			width: auto;
		}
	}

	ul{
		
		margin: 18px 0 40px 0;

		@include breakpoint(tablet){
			float: right;
			margin: 22px 0 0 0;
		}

		@include breakpoint(website){
			margin: 50px 0 0 0;
		}

		li{
			display: inline-block;
			text-align: center;
  		width: 49%;

			@include breakpoint(tablet){
				text-align: left;
  			width: auto;
  			margin: 0 20px;
			}

			a{  			
				padding: 6px 14px;
				text-transform: uppercase;
				width: 90%;

				@include fonts($bold);
				font-size: em(12, 16);
				color: $white;

				@include breakpoint(mobile){
					width: auto;
					font-size: em(16, 16);
				}

				&:hover{
					border-bottom: 1px solid $white; 
				}
			}
		}
	}

	a.btn-info{
		background-color: $orange;
		color: $white;
		&:hover{
			@include background-opacity($orange, 0.8);
		}	
	}

	a.trial, a.video{
		background-image: url('../img/play-btn.png');
		background-repeat: no-repeat;
		background-position: 84% center;
		padding-right: 100px;
	}
}

/* Main */
section{
	
	article{

		overflow: hidden;

		h2.orange{
			margin: 40px 0px;

			@include breakpoint(tablet){
				margin: 60px 20px 40px 20px;
				line-height: 50px;
			}

			@include breakpoint(website){
				margin: 120px 20px 40px 20px;
				line-height: 62px;
			}

			@include breakpoint(large){
				margin: 208px 20px 40px 20px;
				line-height: 72px;
			}
		}
		
		&.title{
			h3{

				padding: 20px 0;
				color: $grey;
				@include fonts($light);

				@include breakpoint(tablet){
					padding: 0;
					line-height: 80px;
				}

				@include breakpoint(website){
					padding: 0;
					line-height: 160px;
				}
			}
		}

		.btn{
			margin: 10px 0 50px 0;

			@include breakpoint(tablet){
				margin: 80px 0 60px 0;
			}

			@include breakpoint(website){
				margin: 80px 0 100px 0;
			}

			@include breakpoint(large){
				margin: 80px 0 150px 0;
			}
		}

		img{
			width: 100%;
		}
	}

	#request-demo-form{
		padding: 40px 0;
		background-color: $blue;

		@include breakpoint(tablet){
			padding: 100px 0;
		}
		@include breakpoint(website){
			padding: 140px 0;
		}
		@include breakpoint(large){
			padding: 120px 0 150px 0;
		}

		h2,h3,label,input{
			color: $white;
			@include fonts($light);
		}

		h3{
			margin: 20px 0;
			line-height: 40px;
		}

		input{
			color: $black;
			font-size: 18px;
			@include fonts($light);

			@include breakpoint(tablet){
				font-size: 22px;
			}
		}

		.btn{
			font-size: 20px;
			padding: 10px 40px;
			margin: 40px 0 0 0;
			@include fonts($light);
			border: 3px solid $white;
			background-color: $blue;

			&:hover{
				border: 3px solid $white !important;
			}

			&:focus{
				outline: none;
				border: 3px solid $white !important;
				color: $white;
			}
		}

		.form-control{
			height: auto;
			padding: 6px 6px;
			line-height: 1em;

			@include breakpoint(tablet){
				padding: 18px 10px;
			}
		}

		form .form-group{
			margin: 20px 0 0 0;
			position: relative;

			@include breakpoint(tablet){
				margin: 40px 0 0 0;
			}

			span{
				display: none;
			}
		}

		p#validation-message{
			display: none;
			padding: 6px 10px;
  		margin: 0;
  		line-height: 20px;
  		font-size: em(14, 16);
		}

		form .form-control-feedback{
			font-size: em(12, 16);
			@include fonts($regular);
			top: 40px;
			right: 6px;
  		width: 200px;
  		line-height: 14px;
  		text-align: right;
		}
	}

	#steps{

		padding: 40px 0;

		@include breakpoint(tablet){
			padding: 100px 0;
		}
		@include breakpoint(website){
			padding: 140px 0;
		}
		@include breakpoint(large){
			padding: 180px 0;
		}

		.step{

			text-align: center;
			margin-bottom: 40px;

				h3{
					color: $orange;
					padding: 20px 0;

					@include breakpoint(tablet){
						padding: 40px 0 20px 0;
					}
					@include breakpoint(website){
						padding: 60px 0 20px 0;
					}
					@include breakpoint(large){
						padding: 70px 0 30px 0;
					}
				}

				p{
					margin: 0 5%;
				}

				img{
					max-width: 280px;
					margin: 0 auto;
				}
		}
	}

	#independants img{

		margin: 0 auto 60px auto;
		width: 260px;
		display: block;

 		@include breakpoint(tablet){
 			width: 100%;
 			margin: 60px auto 0 auto;
 		}

 		@include breakpoint(website){
 			margin: 0;
 			width: 430px;
 			position: relative;
 			bottom: -138px;
 		}

 		@include breakpoint(large){
 			width: 100%;
 			bottom: -220px;
 		}
	}

	#getting-around{

		h2{
			@include fonts($light);
			margin: 40px 0;

			@include breakpoint(tablet){
				margin: 60px 0 0 0;
			}
		}

		padding-bottom: 30px;

		@include breakpoint(tablet){
			padding-bottom: 0px;
		}

		ul{
			
  		@include breakpoint(tablet){
  			width: 90%;
  			margin: 30px 5% 60px 5%;
  		}

  		@include breakpoint(website){
  			width: 70%;
  			margin: 30px 15% 60px 15%;
  		}

  		@include breakpoint(large){
  			margin: 30px 15% 60px 15%;
  		}

			li{
				display: inline-block;
  			vertical-align: middle;

  			&.sky{width: 39%;}

  			&.rte{width: 20%;}

  			&.irish{width: 39%;}
			}
		}
	}
}



/* Footer */
footer{

	#footer-main{
		background: $black;
		padding: 40px 0 60px 0;

		@include breakpoint(tablet){
			padding: 95px 0 100px 0;
		}

		p{
			margin: 0;
			color: $white;
			font-size: em(12, 16);
			@include fonts($bold);
		}
		small{
			color: $white;
			font-size: em(12, 16);
			margin-bottom: 20px;
			display: block;
	  	line-height: 18px;
	  	max-width: 340px;
		}
		ul {
			margin-bottom: 20px;

			@include breakpoint(tablet){
				margin-bottom: 0px;
			}

			li{
				padding: 4px 0 0 0px;

				@include breakpoint(website){
					padding: 4px 0 0 60px;
				}

				a{
					color: $white;
					font-size: em(12, 16);
				}
			}
		}
		ul.contact-numbers li{
			padding: 4px 0 0 0px !important;
		}
	}

	#copyright{

		width: 100%;
		background: $offwhite;
		padding: 20px 0;

		@include breakpoint(tablet){
			padding: 40px 0;
		}

		small{
			color: $black;
			font-size: em(12, 16);
		}
	}
}

#app-model{
	display: none;
	@include background-opacity(#000000, 0.6);

	@include breakpoint(tablet){
		z-index: 100;
		position: fixed;
		left: 0;
		top: 0px;
		bottom: 0;
		right: 0;
	}

	.form-container{
		background: #f2f2f2;
		padding: 40px 15px 20px 15px;
		position: relative;
		
		@include breakpoint(tablet){
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			padding: 40px 40px 20px 40px;
			position: fixed;
			left: 36%;
			top: 10%;
			width: 364px;
			z-index: 200;
		}

		.close{

			display: none;

			@include breakpoint(tablet){
				display: block;
				position: absolute;
  			right: 15px;
  			top: 15px;
  		}
		}

		h2{
			font-size: em(29, 16);
		}

		p{
			 margin: 20px 0;
		}

		.btn{
			width: 100%;
			padding: 0;
			margin: 0;
			img{
				width: 100%;
				max-width: 180px;
			}
		}
	}
}



/* ==========================================================================
   Ipad 1/2/3/4 & Ipad Mini
   ========================================================================== */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {}


/* ==========================================================================
   Internet Explorer Tidies
   ========================================================================== */

/* IE Fixes for ie8 */

/* IE Fixes for ie7 */