/* ==========================================================================
   Font Face
   ========================================================================== */

@include font-face("Open Sans Light", 
	font-files(	"fonts/open-sans/light/light.woff", "fonts/open-sans/light/light.ttf", "fonts/open-sans/light/light.svg"), "fonts/open-sans/light/light.eot",  "normal",
	"normal"
);

@include font-face("Open Sans Regular", 
	font-files(	"fonts/open-sans/regular/regular.woff", "fonts/open-sans/regular/regular.ttf", "fonts/open-sans/regular/regular.svg"), "fonts/open-sans/regular/regular.eot", "normal",
	"normal"
);

@include font-face("Open Sans Semi-bold", 
	font-files(	"fonts/open-sans/semibold/semibold.woff", "fonts/open-sans/semibold/semibold.ttf", "fonts/open-sans/semibold/semibold.svg"),  "fonts/open-sans/semibold/semibold.eot", "normal",
	"normal"
);


@include font-face("Open Sans Bold", 
	font-files(	"fonts/open-sans/bold/bold.woff", "fonts/open-sans/bold/bold.ttf", "fonts/open-sans/bold/bold.svg"
	), "fonts/open-sans/bold/bold.eot", "normal", "normal"
);

// Fonts
$light: 	  "Open Sans Light";
$regular:   "Open Sans Regular";
$semibold:  "Open Sans Semi-bold";
$bold: 		  "Open Sans Bold";


h1,h2,h3,h4,h5,h6{@include fonts($regular); color: $grey;}
p, ul li, a, small{@include fonts($regular); color: $grey;}




